/*Font universal para el body*/
body{
    font-family: sans-serif;
    margin: 0;
}

/*Links*/
a{
    text-decoration: none;
    color: black;
}

nav a{ /*"nav a" Selecciona a todos los enlaces dentro de Nav en el index.*/
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{ /*Hover aplica el estilo cuando el mouse se pasa por encima.*/
    color: white;
}

/* Cabecera */
header{
    display: flex;
    min-height: 70px; /*Colocar altura minima permite que se adapte a ventanas mas pequeñas.*/
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

/* Carrusel */
/* Fuente para contextualizar: https://www.youtube.com/watch?v=McPdzhLRzCg */
.container{
    padding: 32px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /*Esto coloca los botones al medio, mejor explicacion pendiente*/
    z-index: 1;

}

.slider-nav a {
    width: 10px;
    height: 10px;
    margin-right: 5px; /*Placeholder?*/
    border-radius: 50%;
    background-color: coral;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nax a:hover{
    background-color: white;
}

.slider-wrapper {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

/* Capacidad de respuesta del ancho de pantalla */
/* (Responsive Web Design) */
/* Esto afecta la posicion de las cosas cuando se altera la resolucion de la ventana.*/

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

}

