/*Font universal para el body*/
body{
    font-family: sans-serif;
    margin: 0;
}

html,body{
    overflow-x: hidden;
}

/*Personalizar Links*/
a{
    text-decoration: none;
    color: white;
}

nav a{ /*"nav a" Selecciona a todos los enlaces dentro de Nav en el index.*/
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{ /*Hover aplica el estilo cuando el mouse se pasa por encima.*/
    color: rgb(255, 183, 111);
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


/* Cabecera */
header{
    display: flex;
    min-height: 70px; /*Colocar altura minima permite que se adapte a ventanas mas pequeñas.*/
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    color: white;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

/* Carrusel */
/* Fuente para contextualizar: https://www.youtube.com/watch?v=McPdzhLRzCg */
.container{
    padding: 32px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /*Esto coloca los botones al medio, mejor explicacion pendiente*/
    z-index: 1;

}

.slider-nav a {
    width: 10px;
    height: 10px;
    margin-right: 5px; /*Placeholder?*/
    border-radius: 50%;
    background-color: coral;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nax a:hover{
    background-color: white;
}

.slider-wrapper {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

/*Imagenes dentro de cajas*/

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Columnas de ancho automático */
    grid-gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 1% 0; /* Ajusta el relleno */
    max-width: 900px; /* Ancho máximo del contenedor, impide que se separen mucho las imagenes conforme uno agranda la ventana*/
    margin: 0 auto; /* Centra el contenedor */
}

.contenedor img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    margin: 0 5px; /* Márgenes de 5px en ambos lados */
}



/*Footer*/ /* faltan muchos comentarios aqui, lo hare cuando pare de flojear */

.pie-pagina{
    width: 100%;
    background-color: coral;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
    max-width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: rgb(240, 103, 53);
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(255, 183, 111);
}

.pie-pagina .grupo-2{
    background-color: rgb(240, 103, 53);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

/* Capacidad de respuesta del ancho de pantalla */
/* (Responsive Web Design) */
/* Esto afecta la posicion de las cosas cuando se altera la resolucion de la ventana.*/

@media (max-width: 800px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

    .pie-pagina .grupo-1{
        width: 90%; /* Quitamos un poco para añadir asi un margen y no quede pegado a los lados*/
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px; /*Espacio entre elementos del grid*/
        padding: 35px 0px;
    }

    .contenedor{
        flex-direction: column;
        
    }

    .pie-pagina .grupo-1 .box figure{
        width: 90%;
        
    
    }
    
}

